body {
    background: #ffffff;
    margin: 0; /* Убираем отступы */
}

nav {
    margin-bottom: 20px; /* Отступ снизу для навигации */
}

#toggleButton {
    background: transparent; /* Прозрачный фон */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор в виде указателя */
    padding: 0; /* Убираем отступы */
    display: flex;
    flex-direction: column; /* Вертикальное расположение полосок */
    justify-content: space-around; /* Пространство между полосками */
    width: 30px; /* Уменьшенная ширина кнопки */
    height: 25px; /* Уменьшенная высота кнопки */
    position: fixed; /* Фиксированное положение кнопки */
    left: 10px; /* Отступ от левого края */
    top: 20px; /* Отступ от верхнего края */
    z-index: 1001; /* Поверх остальных элементов */
}

.bar {
    width: 100%; /* Ширина полоски */
    height: 3px; /* Высота полоски */
    background-color: #333; /* Цвет полоски */
    transition: all 0.3s ease; /* Плавный переход */
}

aside {
    position: fixed; /* Фиксированное положение */
    left: 0; 
    top: 0;
    background: #ffffff; /* Белый фон для меню */
    width: 250px; /* Ширина меню */
    padding: 2.5%;
    height: 100vh;
    color: #000000; /* Черный цвет текста */
    border-right: 5px solid #003456; /* Граница справа */
    transform: translateX(-100%); /* Скрываем меню */
    transition: transform 0.3s ease; /* Плавный переход для выдвижения */
    z-index: 1000; /* Убедимся, что меню выше содержимого */
    border-radius: 0 10px 10px 0; /* Сглаженные углы (верхний правый и нижний правый) */
}

aside.open {
    transform: translateX(0); /* Показываем меню при добавлении класса open */
}

#toggleButton.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /* Первая полоска поворачивается */
}

#toggleButton.active .bar:nth-child(2) {
    opacity: 0; /* Вторая полоска исчезает */
}

#toggleButton.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /* Третья полоска поворачивается */
}

aside img {
    width: 100%;
    height: auto;
}

aside h3 {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bolder;
}

aside ul {
    list-style: none;
    padding: 0; /* Убираем отступы */
}

aside ul li {
    color: #000000; /* Черный цвет текста */
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul a {
    text-decoration: none;
    font-size: large;
    color: #000000; /* Черный цвет текста для ссылок */
}

aside ul li:hover, aside ul a:hover {
    color: #003456; /* Цвет текста при наведении */
    transform: scale(1.05);
    text-decoration: none;
}

main {
    padding: 20px; /* Добавляем отступы для содержимого */
    width: 100%; /* Полная ширина */
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

main.blurred {
    filter: blur(5px); /* Эффект размытия */
}

footer {
    background-color: #003456; /* Темный фон для подвала */
    color: white; /* Белый цвет текста */
    width: 100%; /* Полная ширина */
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

.footer-link {
    color: white; /* Цвет ссылок */
}

.footer-link:hover {
    color: #7aa3c9; /* Цвет ссылок при наведении */
}

.news-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa; /* Светлый фон для секции новостей */
    border-radius: 8px; /* Скругленные углы */
}

.news-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.news-item {
    margin-bottom: 20px; /* Отступ между новостями */
    padding: 10px;
    border: 1px solid #003456; /* Граница для каждой новости */
    border-radius: 5px; /* Скругленные углы для каждой новости */
    background-color: #ffffff; /* Белый фон для новостей */
}

.news-title {
    color:#003456; /* Синий цвет заголовков новостей */
    font-size: 18px; /* Размер шрифта заголовка */
}

.news-content {
    margin: 10px 0; /* Отступы сверху и снизу для текста */
    color: #333; /* Цвет текста */
}

.news-date {
    font-size: 0.9rem; /* Размер шрифта для даты */
    color: #666; /* Серый цвет для даты */
}

.about-button {
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: #ffffff; /* Белый фон */
    color: #003456; /* Синий текст */
    border: 2px solid #003456; /* Синяя обводка */
    border-radius: 5px; /* Скругленные углы */
    font-weight: bold; /* Жирный текст */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
}

.about-button:hover {
    background-color: #003456; /* Синий фон при наведении */
    color: #ffffff; /* Белый текст при наведении */
}

navbar-nav .nav-link {
    margin-right: 50px; /* Отступ между ссылками */
    color: #000000; /* Цвет ссылок */
    transition: font-size 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Плавный переход для изменения цвета и размера */
    font-size: 1rem; /* Установите базовый размер шрифта */
}

.navbar-nav .nav-link:hover {
    color:#003456; /* Цвет при наведении */
    transform: scale(1.1); /* Увеличение размера текста при наведении */
    text-decoration: none; /* Убираем подчеркивание при наведении */
}

.navbar-brand {
    font-size: larger;
}


.slider-container {
    border-radius: 15px; /* Закругляем углы слайдера */
    overflow: hidden; /* Скрываем части изображения, выходящие за границы слайдера */
    padding: 0 15px; /* Увеличиваем отступы слева и справа */
    position: relative; /* Для позиционирования индикаторов */
}

.carousel-inner img {
    border-radius: 15px; /* Закругляем углы изображений в слайдере */
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(151, 146, 223, 0.8); /* Белый фон для стрелок */
    border-radius: 50%; /* Круглые кнопки */
    width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Центрируем по вертикали */
}

.carousel-indicators {
    position: absolute; /* Позиционируем индикаторы */
    bottom: 10px; /* Располагаем индикаторы чуть выше нижнего края */
    /* Центрируем индикаторы по горизонтали */
    left: 32.5%;
    transform: translateX(-50%); /* Сдвигаем индикаторы влево на половину ширины */
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Центрируем индикаторы по горизонтали */
    z-index: 10; /* Убедимся, что индикаторы над слайдером */
}

.carousel-indicators button {
    background-color: #fff; /* Белый цвет для индикаторов */
    border: 1px solid #ccc; /* Цвет границы для индикаторов */
    border-radius: 50%; /* Круглые индикаторы */
    width: auto; /* Ширина индикатора */
    height: auto; /* Высота индикатора */
    margin: 0 5px; /* Отступы между индикаторами */
}

.carousel-indicators .active {
    background-color: #ffffff; /* Цвет активного индикатора */
}

.carousel-inner img {
    border-radius: 15px; /* Закругляем углы изображений в слайдере */
    filter: grayscale(100%); /* Применяем черно-белый фильтр */
    transition: filter 0.3s ease; /* Плавный переход для фильтра */
}

.carousel-inner img:hover {
    filter: grayscale(0%); /* Убираем черно-белый фильтр при наведении */
}

.oval {
    display: inline-block; /* Позволяет элементу иметь ширину и высоту */
    padding: 5px 15px; /* Внутренние отступы */
    border-radius: 20px; /* Скругление углов для создания овала */
    background-color: #ffffff; /* Цвет фона */
    color: rgb(0, 0, 0); /* Цвет текста */
    text-align: center; /* Центрирование текста */
    font-size: 14px; /* Размер шрифта */
    border: 2px solid rgb(128, 125, 125);
}

.news-actions {
    display: flex; /* Устанавливаем контейнер как flex */
    justify-content: flex-end; /* Выравниваем элементы по правому краю */
    align-items: center; /* Центрируем элементы по вертикали */
}


.social-icon {
    font-size: 30px; /* Увеличиваем размер иконок */
    color: white; /* Задаем белый цвет иконок */
    transition: color 0.3s; /* Добавляем плавный переход для изменения цвета */
}

.social


